@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    /* colours */
    --white: #fff;
    --black: #000;
    --grey: #F3F3F3;
    --grey-dark: #bebdbd;
    --text-dark: #444;
    --danger: #d9534f;
    --success: #3d9f54;
    --warning: #a68e3f;
    --danger-light: #ffd8d7;
    --success-light: #d5ffdf;
    --warning-light: #fff5d3;
    --action: #0087FF;
    --action-light: #6caee8;
    --success-medium: #60e37e;
    --success-gradient: linear-gradient(38deg, rgba(96, 227, 126, 1) 0%, rgba(61, 159, 84, 1) 100%);
    --action-gradient: linear-gradient(259deg, rgba(0, 135, 255, 1) 0%, rgba(175, 0, 255, 1) 100%);
    --danger-gradient: linear-gradient(259deg, rgba(217, 83, 79, 1) 0%, rgb(235, 129, 126) 100%);
    --grey-gradient: linear-gradient(38deg, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
    /* fonts */
    --font-primary: 'Lato', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
}

* {
  box-sizing: border-box;
}
